<!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container px-4 px-lg-5">
      {% if app.user %}
        <a class="navbar-brand" href="{{ path('app_admin')}}">Accueil Admin</a>
        
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
            
                    <li class="nav-item"><a class="nav-link" href="{{ path('admin_tools')}}">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ path('admin_tools')}}">About</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ path('admin_tools')}}">Mon Compte</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ path('app_article')}}"> Articles </a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ path('app_categorie_index')}}"> Catagorie </a></li>                     <li class="nav-item"><a class="nav-link" href="{{ path('user_index')}}">User</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ path('adm_users')}}">Users</a></li>
                    <li class="nav-item"><a class="nav-link" href=" {{ path('adm_index_auteur')}} "> Auteurs</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ path('admin_tools')}}">Tools</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ path('app_logout') }} "> Logout </a></li>
                  {% else %}
                    <div class="container">
                    
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>